*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100vw;
    height:100vh;
}

.upper-wrapper{
    background-image: url(img/library-wallpaper.jpg);
    background-size: 100vw;
    width: 100%;
    height: 100%;
    padding:10%;

}

.inner-wrapper{
    height: 100%;
    border:8px solid black;
    border-radius: 16px;
    background-image: url(img/wood-background.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns:repeat(auto-fit, 100px);
    grid-template-rows:repeat(auto-fit, 200px);    
    position:relative;
}

th,td{
    text-align: left;
}

.book-card{
    height: min(100%,200px);
    width: min(100%,100px);
    border-spacing: 20%;
    border: 8px solid rgb(85, 42, 2);
    border-radius: 8px;
    background-color: rgb(88, 64, 40);
    justify-self: center;
    align-self: center;  
}

.book-card:hover:not(.add-section){
    border: 8px solid rgb(65, 38, 13);
    background-color: rgb(110, 81, 51);
}

.add-section:hover{
    background-color: rgb(78, 78, 78);
    border-color:rgb(41, 40, 40);
}

.front-card{
    height: min(80%, 400px);
    width: min(40%, 400px);
    display: flex;
    flex-direction:column;
    border: 8px solid rgb(85, 42, 2);
    border-radius: 8px;
    background-color: rgb(88, 64, 40);
    position:absolute;
    top: 10%;
    left: 36%;
    z-index: 10;
    flex:1;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.add-section{
    background-color: rgb(45, 46, 46);
    border-color:rgb(20, 20, 20);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-section>img{
    height: 40%;
    width:100%;
    opacity: 1;
}

.read-button-wrapper{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    gap:10%;
}

.read-toggle{
    height: 80%;
    width: 30%;
    border-radius: 8px;
    border: none;
    background-color: rgb(168, 138, 117);
}

.read-toggle:hover{
    border: 2px solid rgb(19, 18, 18);
}

.closing-section{
    height: 10%;
    width: 10%;
    background-color: rgb(48, 43, 43);
    position: absolute;
    overflow: visible;
    left:100%;
    top:-2%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.closing-section>img{
    height: 80%;
    width: 80%;
}

.closing-section:hover{
    width:calc(10% + 1%);
    height:calc(10% + 1%);
}

.delete-button-wrapper{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
}

.delete-button{
    height: 80%;
    width: 50%;
    border-radius: 4px;
    border: none;
    background-color: rgb(12, 10, 8);
    color: rgb(173, 142, 95);
}

.delete-button:hover{
    border: 2px solid rgb(19, 18, 18);
}

tr:first-child{
    color: rgb(241, 49, 59);
    font-weight: bold;
}

.submit{
    position: absolute;
    height: max(60%, 300px);
    width:max(30%, 200px);
    background-color: aliceblue;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 0px solid rgb(58, 58, 63);
    border-radius:4px;
    background-color: rgb(223, 172, 106);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
}

.submit-inner{
    display: flex;
    flex-direction:column;
    width: 70%;
    height: 30%;
    text-align: center;
    gap:10%;
}

.submit-inner>input{
    height: 20%;
    overflow: visible;
    border-radius: 8px;
    border: 2px solid rgb(102, 96, 96);
}

.submit-inner>p{
    font-size:28px;
    overflow: visible;
}


.submit-button-wrapper{
    height: 30%;
    width:100%;
    overflow: visible;
}

.submit-inner [type="submit"]{
    width: 40%;
    height: 100%;
    margin-top: 3.2%;
    border-radius: 8px;
    border: 2px solid rgb(102, 96, 96);
}

.hidden{
    display:none;
}

.close-form{
    height:10%;
    width:10%;
    position:absolute;
    top:0%;
    right: 0%;
    border-radius: 4px;
    background:url(img/x-icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(47, 49, 49);
}